.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.links-list {
	width: 100%;
	text-align: center;
	}
	
.links-list a {
	text-decoration: none;
	color: #000000;
	}

.clickable, .the-blank, .the-blank-winning, .ordinary, .winning {
	width: 90px;
	height: 90px;
	float: left;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 90px;
	box-sizing: content-box;
	}

.clickable, .ordinary {
	border: 1px #e3c819 solid;
	}

.clickable {
	color: #e3c819;
	background-color: #6d0ff2;
	cursor: pointer;
	}

.clickable:hover, clickable:active {
	background-color: #e3c819;
	border: 1px #e3c819 solid;
	color: #6d0ff2;
	}


.the-blank {
	background-color: #370380;
	color: #370380;
	border: 1px #d1d1d1 solid;
	}

.the-blank-winning {
	background-color: #230638;
	color: #000000;
	border: 1px #999999 solid;
	}

.ordinary {
	background-color: #6d0ff2;
	color: #e3c819;
	}

.winning {
	background-color: #6F10B4;
	color: #ad8b03;
	border: 1px #ad8b03 solid;
	}

.main-square, .main-square-winning {
	/*max-width: 275px;
	max-height: 275px;*/
	display: inline-block;
	text-align: center;
	/*width: auto;
	high: auto;*/
	margin-left: auto;
	margin-right: auto;
	margin: auto;
	box-sizing: content-box;
	}

.main-square {
	border: 3px #6d0ff2 solid;
	}

.main-square-winning {
	border: 3px #6F10B4 solid;
	}

.other-items {
	/*position: relative;
	top: -276px;*/
	margin-top: 18px;
	}

.instructions, .winner {
	width: 300px;
	margin: auto;
	margin-top: -10px;
	clear: both;
	font-size: 25px;
	text-align: center;
	}

.instructions {
	color: #323333;
	}

.winner {
	color: #14bf08;
	font-weight: bold;
	}

.goes, .goes-win {
	font-size: 57px;
	clear: both;
	width: 300px;
	margin: auto;
	margin-top: -10px;
	text-align: center;
	}

.goes {
	color: #323333;
	}

.goes-win {
	color: #14bf08;
	}

.all {
	padding-top: 25px;
	padding-bottom: 10px;
	width: 400px;
	margin: auto;
	text-align: center;
	margin-top: 20px;
}

.main-box {
	}

.reset {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	line-height: 50px;
	/*height: 53px;*/
	/*padding-top: 10px;
	padding-bottom: 13px;*/
	text-align: center;
	background-color: #e3c819;
	color: #6d0ff2;
	border: 3px #6d0ff2 solid;
	border-radius: 5px;
	}

.reset:hover {
	background-color: #6d0ff2;
	color: #e3c819;
	border: 3px #e3c819 solid;
	border-radius: 5px;
	}

a {
	text-decoration: none;
	color: #6d0ff2;
	}

#reset-words {
	font-size: 22px;
	}

.demoralise {
	width: 300px;
	margin: auto;
	margin-top: -10px;
	font-size: 14px;
	}

#demoralise {
	
	}

#severe1, #severe2 {
	color: #0918ed;
	}

#severe3, #severe4 {
	color: #0914ed;
	}

#severe5, #severe6 {
	color: #090ded;
	}

#severe7, #severe8 {
	color: #0d09ed;
	}

#severe9, #severe10 {
	color: #1409ed;
	}

#severe11, #severe12 {
	color: #1c09ed;
	}

#severe13, #severe14 {
	color: #2409ed;
	}

#severe15, #severe16 {
	color: #2b09ed;
	}

#severe17, #severe18 {
	color: #3309ed;
	}

#severe19, #severe20 {
	color: #3a09ed;
	}

#severe21, #severe22 {
	color: #4209ed;
	}

#severe23, #severe24 {
	color: #4a09ed;
	}

#severe25, #severe26 {	
	color: #5109ed;
	}

#severe27, #severe28 {
	color: #5909ed;
	}

#severe29, #severe30 {
	color: #6009ed;
	}

#severe31, #severe32 {	
	color: #6809ed;
	}

#severe33, #severe34 {
	color: #7009ed;
	}

#severe35, #severe36 {
	color: #7709ed;	
	}

#severe37, #severe38 {
	color: #7f09ed;
	}

#severe39, #severe40 {
	color: #8609ed;
	}

#severe41, #severe42 {
	color: #8e09ed;	
	}

#severe43, #severe44 {
	color: #9609ed;
	}

#severe45, #severe46 {
	color: #9d09ed;
	}

#severe47, #severe48 {
	color: #a509ed;	
	}

#severe49, #severe50 {
	color: #ac09ed;
	}

#severe51, #severe52 {
	color: #b409ed;
	}

#severe53, #severe54 {
	color: #bc09ed;	
	}

#severe55, #severe56 {
	color: #c309ed;
	}

#severe57, #severe58 {
	color: #cb09ed;
	}

#severe59, #severe60 {
	color: #d209ed;
	}

#severe61, #severe62 {
	color: #da09ed;
	}

#severe63, #severe64 {
	color: #e209ed;
	}

#severe65, #severe66 {
	color: #e909ed;
	}

#severe67, #severe68 {
	color: #ed09e9;
	}

#severe69, #severe70 {
	color: #ed09e2;
	}

#severe71, #severe72 {
	color: #ed09da;
	}

#severe73, #severe74 {
	color: #ed09d2;
	}

#severe75, #severe76 {
	color: #ed09cb;
	}

#severe77, #severe78 {
	color: #ed09c3;
	}

#severe79, #severe80 {
	color: #ed09bc;
	}

#severe81, #severe82 {
	color: #ed09b4;
	}

#severe83, #severe84 {
	color: #ed09ac;
	}

#severe85, #severe86 {
	color: #ed09a5;
	}

#severe87, #severe88 {
	color: #ed099d;
	}

#severe89, #severe90 {
	color: #ed0996;
	}

#severe91, #severe92 {
	color: #ed098e;
	}

#severe93, #severe94 {	
	color: #ed0986;
	}

#severe95, #severe96 {
	color: #ed0983;
	}

#severe97, #severe98 {
	color: #ed097b;
	}

#severe99, #severe100 {
	color: #ed0973;
	}

#severe101, #severe102 {
	color: #ed0970;	
	}

#severe103, #severe104 {
	color: #ed0968;
	}

#severe105, #severe106 {
	color: #ed0964;
	}

#severe107, #severe108 {
	color: #ed0960;	
	}

#severe109, #severe110 {
	color: #ed0959;
	}

#severe111, #severe112 {
	color: #ed0951;
	}

#severe113, #severe114 {
	color: #ed094a;	
	}

#severe115, #severe116 {
	color: #ed0946;
	}

#severe117, #severe118 {
	color: #ed093e;
	}

#severe119, #severe120 {
	color: #ed0937;
	}

#severe121, #severe122 {
	color: #ed092f;
	}

#severe123, #severe124 {
	color: #ed0927;
	}

#severe125, #severe126 {
	color: #ed0924;
	}

#severe127, #severe128 {
	color: #ed091c;
	}

#severe129, #severe130 {
	color: #ed0914;
	}

#severe131, #severe132 {
	color: #ed090d;
	}


