.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.links-list {
	width: 100%;
	text-align: center;
	}
	
.links-list a {
	text-decoration: none;
	color: #000000;
	}

.clickable, .the-blank, .the-blank-winning, .ordinary, .winning {
	width: 90px;
	height: 90px;
	float: left;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 90px;
	box-sizing: content-box;
	}

.clickable, .ordinary {
	border: 1px #e3c819 solid;
	}

.clickable {
	color: #e3c819;
	background-color: #6d0ff2;
	cursor: pointer;
	}

.clickable:hover, clickable:active {
	background-color: #e3c819;
	border: 1px #e3c819 solid;
	color: #6d0ff2;
	}


.the-blank {
	background-color: #370380;
	color: #370380;
	border: 1px #d1d1d1 solid;
	}

.the-blank-winning {
	background-color: #230638;
	color: #000000;
	border: 1px #999999 solid;
	}

.ordinary {
	background-color: #6d0ff2;
	color: #e3c819;
	}

.winning {
	background-color: #6F10B4;
	color: #ad8b03;
	border: 1px #ad8b03 solid;
	}

.main-square, .main-square-winning {
	/*max-width: 275px;
	max-height: 275px;*/
	display: inline-block;
	text-align: center;
	/*width: auto;
	high: auto;*/
	margin-left: auto;
	margin-right: auto;
	margin: auto;
	box-sizing: content-box;
	}

.main-square {
	border: 3px #6d0ff2 solid;
	}

.main-square-winning {
	border: 3px #6F10B4 solid;
	}

.other-items {
	/*position: relative;
	top: -276px;*/
	margin-top: 18px;
	}

.instructions, .winner {
	width: 300px;
	margin: auto;
	margin-top: -10px;
	clear: both;
	font-size: 25px;
	text-align: center;
	}

.instructions {
	color: #323333;
	}

.winner {
	color: #14bf08;
	font-weight: bold;
	}

.goes, .goes-win {
	font-size: 57px;
	clear: both;
	width: 300px;
	margin: auto;
	margin-top: -10px;
	text-align: center;
	}

.goes {
	color: #323333;
	}

.goes-win {
	color: #14bf08;
	}

.all {
	padding-top: 25px;
	padding-bottom: 10px;
	width: 400px;
	margin: auto;
	text-align: center;
	margin-top: 20px;
}

.main-box {
	}

.reset {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	line-height: 50px;
	/*height: 53px;*/
	/*padding-top: 10px;
	padding-bottom: 13px;*/
	text-align: center;
	background-color: #e3c819;
	color: #6d0ff2;
	border: 3px #6d0ff2 solid;
	border-radius: 5px;
	}

.reset:hover {
	background-color: #6d0ff2;
	color: #e3c819;
	border: 3px #e3c819 solid;
	border-radius: 5px;
	}

a {
	text-decoration: none;
	color: #6d0ff2;
	}

#reset-words {
	font-size: 22px;
	}

.demoralise {
	width: 300px;
	margin: auto;
	margin-top: -10px;
	font-size: 14px;
	}

#demoralise {
	
	}

#severe1 {
	color: #d1d1d1;
	}

#severe2 {
	color: #ee0000;
	}

#severe3 {
	color: #f0f0f0;
	}
